<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>
    </div>
  </div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
    <% Photo.where(:user_id => @user.id).each do |photo| %>
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%=@user.id%>"><%=@user.username%> </a>
        </h3>
      </div>

      <div class="panel-body">
      <img src = "<%= photo.image %>" class="img-responsive"</td>
    </div>
      <% end %>
    </div>
